nav.navbar {
  // padding-bottom: 350px;
  // border-bottom: 20px;
  position: relative;

  .bg_contaienr {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: -25px;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .sec_container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 19px;

      margin-top: 22px;

      background: rgb(255 255 255 / 15%);
      padding: 11px;
      border-radius: 9px;

      backdrop-filter: blur(16px);
      box-shadow: 1px 1px 4px black;
    }
    .logo {
      text-decoration: none;
      color: unset;
      display: flex;
      align-items: center;
      gap: 6px;
      img {
        width: 18px;
        height: 18px;
        object-fit: contain;
      }

      h1 {
        margin: 0;
        font-size: 14px;
        font-weight: 700;
      }
    }

    .btns_container {
      display: flex;
      align-items: center;
      gap: 11px;
      .btn {
        cursor: pointer;
        p {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          border-bottom: 3px solid #cd5827;
          border-radius: 2px;
        }
        svg {
          width: 22px;
          height: 22px;
        }
        img {
          object-fit: contain;
          width: 22px;
          height: 22px;
        }
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .input_container {
      position: relative;
      input {
        border: none;
        width: 278px;
        height: 37px;
        border-radius: 20px;
        border: 0.5px solid #939393;
      }

      .icon_container {
        position: absolute;
        top: 5px;
        left: 12px;

        svg {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

.topic_menu_container,
.menu_container {
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  @media screen and (min-width: 992px) {
    left: 50%;
    transform: translateX(-50%) !important;
    width: 650px;
    z-index: 99;
  }

  .menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #eeeeee;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    z-index: 99999;

    .close_btn {
      cursor: pointer;
      svg {
        color: #8b8b8b;
        width: 35px;
        height: 35px;
      }
    }

    .langs {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      svg {
        color: #8b8b8b;
        width: 24px;
        height: 24px;
      }
    }
  }

  ul {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 31px;
    height: 80vh;
    overflow-y: scroll;

    margin: 0 !important;
    @media screen and (min-width: 992px) {
      height: 65vh;
    }

    a {
      color: unset;
      text-decoration: none;
      display: inline-block;
      position: relative;

      h4 {
        margin-top: 10px;
        position: relative;
        display: inline-block;
        overflow: hidden;

        &:last-child {
          margin-top: 24px;
        }

        // الخط الدائم
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: orange;
        }

        // لمعة عند الهوفر
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%; // تبدأ برا
          width: 100%;
          height: 100%;
          background: linear-gradient(
            120deg,
            rgba(248, 145, 71, 0.5) 0%,
            rgba(255, 255, 255, 0.7) 50%,
            rgba(255, 255, 255, 0.1) 100%
          );
          // background: linear-gradient(
          //   120deg,
          //   rgba(255, 255, 255, 0.5) 0%,
          //   rgba(255, 255, 255, 0.7) 50%,
          //   rgba(255, 255, 255, 0.1) 100%
          // );
          transform: skewX(-20deg);
          opacity: 0;
          pointer-events: none;
        }

        &:hover::before {
          animation: shine 1s ease infinite;
        }
      }
    }

    li {
      list-style-type: none;
      width: 100%;

      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 16px;
      padding-top: 16px;

      a {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-decoration: none;
        font-size: 18px;
        color: #8b8b8b;
        p {
          margin: 0;
        }

        .circle {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 1px solid #cfcfcf;
          background-color: transparent;
          transform: all 0.3s ease-in-out;
          &.active {
            background-color: #82c62e;
            border-color: #82c62e;
          }
        }
        display: flex;
        width: 100%;
      }
    }
  }
}

.topic_menu_container {
  .box_container {
    .box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 8px;

      p {
        font-size: 18px;
        font-weight: 600;
        color: black;
      }

      .icon_container {
        img {
          width: 24px;
          height: 24px;
          object-fit: contain;
        }
      }
    }
  }

  .books_container {
    width: 100%;
    margin-top: 24px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 44px;
    max-width: 371px;
    .book {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
      transition: all 0.3s ease-in-out;
      background-color: #ffffff;
      width: 100%;
      border-radius: 20px;
      padding: 8px 21px 19px 24px;
      border: 0.5px solid transparent;
      &:first-child {
        border-color: #cd5827;
      }

      .img_container {
        margin-top: -20px;
        img {
          width: 87.38px;
          height: 125.82px;
          object-fit: cover;
          border-radius: 10px;
          box-shadow: 2px 2px 2px 0px #00000014;
        }
      }

      .text_container {
        text-align: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        .lang {
          display: flex;
          align-items: center;
          gap: 7.5px;
          .icon_container {
            img {
            }
          }
          p {
            margin: 0;
            font-size: 12px;
            font-weight: 500;
          }
        }
        .title {
          margin-top: 8px;
          h3 {
            margin: 0;
            font-size: 20px;
            font-weight: 400;
          }
        }
        .info {
          margin-top: 8px;

          display: flex;
          align-items: center;
          gap: 20px;
          .size,
          .pages {
            display: flex;
            align-items: center;
            gap: 8px;
            .icon_container {
              img {
              }
            }

            p {
              margin: 0;
            }
          }
        }
        .nums {
          margin-top: 8px;

          p {
            margin: 0;
            font-size: 10px;
            font-weight: 600;
          }
        }
        a.btn_container {
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: #7098c6;
          border-radius: 20px;
          width: fit-content;
          padding: 7px 10px 7px 16px;
          align-self: flex-end;
          margin-top: 24px;
          cursor: pointer !important;

          button {
            font-size: 12px;
            font-weight: 600;
            color: #ffffff99;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            button {
              color: white;
            }
          }
          .icon_container {
          }
        }
      }
    }
  }
}

.books_menu_container ul {
  background-color: #efefef !important;
  z-index: 5;
  position: relative;

  a {
    position: relative;
    cursor: unset !important;
  }
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    background-color: #e1e1e1;
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
  }
}
.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9;

  background: rgba(0, 0, 0, 0.259);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(4px);
}

.search_input_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;

  .icon_container {
    position: absolute;
    top: 16px;
    left: 19px;
    background-color: #f89147;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;

    svg {
      // width: 22px;
      // height: 22px;
      margin: auto;
      color: white !important;
    }
  }
  input {
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    border: 0.5px solid #f8914740;
    outline: none;
    border-radius: 40px;
    background-color: #f5f5f5;
    transition: all 0.3s ease;
    text-align: center;

    box-shadow: 3px 3px 11px 0px #00000017;

    &::placeholder {
      font-size: 12px;
    }
    &:focus {
      background-color: #e0e0e088;
      border-color: #f89147 !important;
    }
  }
}

@keyframes shine {
  0% {
    left: -100%;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
