nav.navbar {
  padding-top: 152px;
  padding-bottom: 100px;
  border-bottom: 20px;
  position: relative;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #cfcfcf;
  z-index: 1;

  @media screen and (min-width: 992px) {
    // z-index: 1;
    // border-radius: 0;
    // background-color: transparent;
    // padding-bottom: 0;
    // padding-bottom: 94px;
    // padding-bottom: 0;
    // margin-bottom: 94px;
  }
}
